.branchesLoading .row {
  text-align: center !important;
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
}

.search {
  padding-left: 100px;
  padding-right: 100px;
}

.branchesLoading {
  margin-top: 50px;
}
